<div class="container">
  <h2><%= @product.display_heading %> </h2>
  <%= form_for @product, url: products_path(@product) do |form| %>
    <div class="error">
    	<% if @product.errors.any? %>
    	  <h4><%= @product.type %> not saved. please refer below errors:</h4>
    	  <% @product.errors.full_messages.each do |error| %>
    	    <p> <%= error %> </p>
    	  <% end %>
    	<% end %>
    </div>
    <div class="form-group">
      <%= form.label "Product name" %>
      <%= form.text_field :name, :class=> "form-control"%>
    </div>
    <div class="form-group">
      <%= form.label "Price" %>
      <%= form.text_field :price, :class=> "form-control"%>
    </div>
    <div class="form-group">
      <%= form.label "Inward Date" %>
      <%= form.date_select :inward_date, :order => [:month,:day,:year], :class=> "form-control"%>
    </div>
    <div class="form-group">
      <%= form.label "Color" %>
      <%= form.text_field :color, :class=> "form-control"%>
    </div> 	
    <%= form.submit "Create #{@product.type}",:class=>"btn btn-default	" %>       
  <% end %>
</div>